@{
    ViewData["Title"] = "Projeto Fábio Onishi - Tec Info 54";
}
@* <style>

    .centralizar 
    {
        height: 100vh;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

</style> *@

<div class="centralizar">

    <div class="text-center">
        <h1 class="display-4">PROJETO TEC INFO 54</h1>
        <br />
        <a href="/conta/login">Login</a> | <a href="/Conta/Cadastro">Cadastro</a>
    </div>

</div>

