@model Chamados54WebApp.Data.Usuario

@{
    ViewData["Title"] = "Exibe";
}

<div class="row">
    <div class="offset-3 col-md-6 offset-3">
        <h2>Dados do usuário</h2>
        <hr />
        <dl class="row">
            <dt class="col-sm-4 text-sm-end">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-4 text-sm-end">
                @Html.DisplayNameFor(model => model.Perfil)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Perfil)
            </dd>
        </dl>
        <div class="text-center p-4">
            <a asp-action="Altera" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
</div>

