@using Chamados54WebApp.Data
@model Chamados54WebApp.Models.ContaViewModel

@{
    ViewData["Title"] = "Cadastro";
}

@* <div class="centralizar">
    <div  class="offset-md-4 col-md-4 offset-md-4" >
        <h1>Cadastro</h1>
        <h4>Informe os dados da conta</h4>
        <hr />
        <form asp-action="Cadastro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perfil" class="control-label"></label>
                <select asp-for="Perfil" asp-items="@Html.GetEnumSelectList<PerfilUsuario>()" class="form-control">
                </select>
                <span asp-validation-for="Perfil" class="text-danger"></span>
            </div>
            <div class="form-group text-center p-4">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Login" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div> *@

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <a href="/">
            <img class="mx-auto h-10 w-auto" src="https://www.sp.senac.br/o/senac-theme/images/logo_senac_default.png" alt="Logo Senac Rio Preto">
        </a>

        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Crie sua conta</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" asp-action="Cadastro">
            <div>
                <label asp-for="Nome" class="block text-sm font-medium leading-6 text-gray-900">Nome</label>
                <div class="mt-2">
                    <input asp-for="Nome" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <label asp-for="Email" class="block text-sm font-medium leading-6 text-gray-900">E-mail</label>
                <div class="mt-2">
                    <input asp-for="Email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <div class="flex items-center justify-between">
                    <label asp-for="Senha" class="block text-sm font-medium leading-6 text-gray-900">Senha</label>

                </div>
                <div class="mt-2">
                    <input asp-for="Senha" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <label asp-for="Perfil" class="block text-sm font-medium leading-6 text-gray-900">Perfil</label>
                <div class="mt-2">
                    <select asp-for="Perfil" asp-items="@Html.GetEnumSelectList<PerfilUsuario>()" class="form-control">
                    </select>
                </div>
            </div>

            <div>
                <input type="submit" value="Cadastrar" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            </div>
        </form>

        <p class="mt-10 text-center text-sm text-gray-500">
            Já possui um cadastro?
            <a href="/conta/login" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Acesse sua conta</a>
        </p>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
